# Python
__pycache__/
*.pyc

# venv
venv/

# Data
data/*

# Unignore specific config files
!data/Configs_SimpleForms/
!data/Configs_SimpleForms/**

# Still Ignore specific generated datasets
data/simpleForms*
data/simpleForms_*

# Results
results/

# OS
.DS_Store
Thumbs.db

# Ignore checkpoints
*.pt

# Ignore Identifier files created by Windows when downloading files from the internet
*Zone.Identifier*

# Runs: ignore everything by default
runs/**

# Unignore directory structure so allowed files can be re-included
!runs/
!runs/**/
!runs/with_TSM/
!runs/without_TSM/

# Allow only these artifacts from runs
!runs/**/*.json
!runs/**/*.png
!runs/**/*.csv

