# Python
__pycache__/
*.pyc

# venv
venv/

# Data
data/

# Results
results/

# OS
.DS_Store
Thumbs.db

# Ignore checkpoints
*.pt

# Runs: ignore everything by default
runs/*

# Allow only these artifacts from runs
!runs/**/*.json
!runs/**/*.png
